/* You can add global styles to this file, and also import other style files */

* {
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container {
    width: 500px;
    margin: 30px auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    height: auto;
    min-height: 100px;
  }

.input_group {
    margin-bottom: 5px;
}

.my-button-dark {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #212529;
    color: #FFFFFF;
    width: 125px;
    border: none;
    border-style: none;
    border-radius: 4px;
    margin-bottom: 5px;
}

    .my-button-dark:hover {
        background-color: #6B6A6A;
    }